<!DOCTYPE html>
<html>
  <head>
    <!-- Place your kit's code here -->
    <title>Footer</title>
    <script src="https://kit.fontawesome.com/047e2c0da1.js" crossorigin="anonymous"></script>
  </head>

  <body>
  	<div class=jumbotron>
  	 		<h1>Cherchez et vous trouverez!</h1>
  	 		<p>Nous ne sommes plus en confinement, alors sortez mais restez protégé(e)!</p>
  	</div>

    <div class="container">
      <div class="row">
          <div class= "col">
            <div class="card mb-3">
              <h3 class="card-header">Movie Night</h3>
              <div class="card-body">
                <h5 class="card-title">Star Wars 7</h5>
                <h6 class="card-subtitle text-muted">UGC,Tana</h6>
              </div>
              <img style="height: 200px; width: 100%; display: block;" src= <%= asset_path('starwars.png')%>; alt="Card image">
              <div class="card-body">
                <p class="card-text">A long time ago in a galaxy far far away...</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">25/06/2020</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Detail</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>

          <div class= "col">
            <div class="card mb-3">
              <h3 class="card-header">Afterwork</h3>
              <div class="card-body">
                <h5 class="card-title">Fin de THP</h5>
                <h6 class="card-subtitle text-muted">La Felicita, Paris</h6>
              </div>
              <img style="height: 200px; width: 100%; display: block;" src= <%= asset_path('beer.jpg')%>; alt="Card image">
              <div class="card-body">
                <p class="card-text">Beer Beer Beer.</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">26/03/2020</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Detail</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>

          <div class= "col">
            <div class="card mb-3">
              <h3 class="card-header">Concert</h3>
              <div class="card-body">
                <h5 class="card-title">Johnny Ve Gasy?</h5>
                <h6 class="card-subtitle text-muted">Stade de France</h6>
              </div>
              <img style="height: 200px; width: 100%; display: block;" src= <%= asset_path('johnny.jpg')%>; alt="Card image">
              <div class="card-body">
                <p class="card-text">Le come back inattendu...</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">14/04/2020</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Detail</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>

      </div>
    </div>

    <h2>Example body text</h2>
<p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
<p><small>This line of text is meant to be treated as fine print.</small></p>
<p>The following is <strong>rendered as bold text</strong>.</p>
<p>The following is <em>rendered as italicized text</em>.</p>
<p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>

  </body>

</html>
