<!DOCTYPE html>
<html lang=en>
	<head>
		<meta charset="utf-8">
    <title>Index</title>


	</head>
	<body>
		 <div class="section"> <h1>Bonjour! Je te présente la version 1.0 de mon Kit UI</h1></div>
	</body>
</html>
